<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>doudoufei后台管理中心</title>
		<link rel="stylesheet" type="text/css" href="../public/stylesheets/index_style.css"/>
	   <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">	   	
	   </script>
	   <script type="text/javascript" src="../public/js/main_left.js"></script>		
	</head>
	<body>
		
			
		<div id="header">
   <!--------------top------------------>
	    <div id="top">
	    	<h1 class="logo"><img src="../public/images/images/logo.png"/></h1>
	    	<div class="top_list_a">
   	    		<a href=""><img src="http://www.doudoufei.top/shops/admin/images/topmune_09.png"/><span>更多模班产品</span></a>
   	    		<a href=""><img src="http://www.doudoufei.top/shops/admin/images/topmune_01.png"/><span>开店导向</span></a>
   	    		<a href=""><img src="http://www.doudoufei.top/shops/admin/images/topmune_02.png"/><span>记事本</span></a>
   	    		<a href=""><img src="http://www.doudoufei.top/shops/admin/images/topmune_03.png"/><span>刷新</span></a>
   	    		<a href=""><img src="http://www.doudoufei.top/shops/admin/images/topmune_04.png"/><span>个人设置</span></a>
   	    		<a href=""><img src="http://www.doudoufei.top/shops/admin/images/topmune_05.png"/><span>管理员留言</span></a>
   	    		<a href=""><img src="http://www.doudoufei.top/shops/admin/images/topmune_06.png"/><span>查看网站</span></a>
   	    		<a href=""><img src="http://www.doudoufei.top/shops/admin/images/topmune_007.png"/><span>帮助</span></a>
   	    		<a href=""><img src="http://www.doudoufei.top/shops/admin/images/topmune_07.png"/><span>关于ECSHOP</span></a>
   	    		<a href=""><img src="http://www.doudoufei.top/shops/admin/images/qingchu.png"/><span>清除缓存</span></a>
   	    		<a href=""><img src="http://www.doudoufei.top/shops/admin/images/topmune_08.png"/><span>退出</span></a>
	    	</div>
	    </div>
	<!--------------nav------------------>
	    <div id="nav">
	    	<ul class="nav_ul">
	    		<li><a href=""><img src="http://www.doudoufei.top/shops/admin/images/index-11_07.png"/><span>起始页</span></a><span class="border_L"></span></li>
	    		<li><a href=""><img src="http://www.doudoufei.top/shops/admin/images/index-11_41.png"/><span>设置导航栏</span></a><span class="border_L"></span></li>
	    		<li><a href=""><img src="http://www.doudoufei.top/shops/admin/images/index-11_09.png"/><span>商品管理</span><span class="num">31</span></a><span class="border_L"></span></li>
	    		<li><a href=""><img src="http://www.doudoufei.top/shops/admin/images/dd.png"/><span>订单管理</span><span class="num">0</span></a><span class="border_L"></span></li>
	    		<li><a href=""><img src="http://www.doudoufei.top/shops/admin/images/index-11_13.png"/><span>广告管理</span><span class="num">0</span></a><span class="border_L"></span></li>
	    		<li><a href=""><img src="http://www.doudoufei.top/shops/admin/images/index-11_19.png"/><span>用户评论</span><span class="num">0</span></a><span class="border_L"></span></li>
	    	    <li><a href="">用户评论</a></li>
	    	    <li><a href="">商品列表</a></li>
	    	    <li><a href="">会员列表</a></li>
	    	    <li><a href="">商店设置</a></li>
	    	    <li><a href="">移动版</a></li>
	    	    <li><a href="">服务市场</a></li>
	    	</ul>
	    </div>
	 </div>  
	    
	     <!--------------bottom------------------>
	     <div id="main">
	     	<div id="main_left">
	     		<div class="main_left_nav">
	     			<p><span class="p_span">导航菜单</span></p>
	     		</div>
	     		<div class="main_left_menu">
	     			<div id="menu_list">
	     				<ul class="list">
	     					<li class="icon_1">
	     						商品管理
	     						<ul class="ul_none">
	     							<li><a href="">商品列表</a></li>
	     							<li><a href="">添加新商品</a></li>
	     							<li><a href="">商品分类</a></li>
	     							<li><a href="">用户评论</a></li>
	     							<li><a href="">商品品牌</a></li>
	     							<li><a href="">商品类型</a></li>
	     							<li><a href="">商品回收站</a></li>
	     							<li><a href="">图片批量处理</a></li>
	     							<li><a href="">商品批量上传</a></li>
	     							<li><a href="">商品批量导出</a></li>
	     							<li><a href="">商品批量修改</a></li>
	     							<li><a href="">生成商品代码</a></li>
	     							<li><a href="">标签管理</a></li>
	     							<li><a href="">虚拟商品列表</a></li>
	     							<li><a href="">添加虚拟商品</a></li>
	     							<li><a href="">更改加密串</a></li>
	     							<li><a href="">商品自动上下架</a></li>
	     						</ul>
	     					</li>
	     					<li class="icon_2">
	     						促销管理
	     					    <ul class="ul_none">
	     							<li><a href="">夺宝奇兵</a></li>
	     							<li><a href="">红包类型</a></li>
	     							<li><a href="">商品包装</a></li>
	     							<li><a href="">祝福贺卡</a></li>
	     							<li><a href="">团购活动</a></li>
	     							<li><a href="">专题管理</a></li>
	     							<li><a href="">拍卖活动</a></li>
	     							<li><a href="">优惠活动</a></li>
	     							<li><a href="">批发管理</a></li>
	     							<li><a href="">超值礼包</a></li>
	     							<li><a href="">积分商城商品</a></li>
	     							<li><a href="">生成商品代码</a></li>
	     						</ul>
	     					</li>
	     					<li class="icon_4">广告管理</li>
	     					<li class="icon_5">报表统计</li>
	     					<li class="icon_6">文章管理</li>
	     					<li class="icon_7">会员管理</li>
	     					<li class="icon_8">权限管理</li>
	     					<li class="icon_9">系统管理</li>
	     					<li class="icon_10">模板管理</li>
	     					<li class="icon_11">数据库管理</li>
	     					<li class="icon_12">短信管理</li>
	     					<li class="icon_13">推荐管理</li>
	     					<li class="icon_14">邮件群发管理</li>
	     					<li class="icon_15">移动版管理</li>
	     					<li class="icon_16">模板知识库</li>
	     				</ul>
	     			</div>
	     		</div>
	     	</div>
	     	 <!--------------main_right------------------>
	     	<div id="main_right">
	     		 <div id="con">
	     		 	<p class="con_h1">ECSHOP管理中心</p>
	     		 	<p class="con_p">no_license<a>点击查看</a></p>
	     		 	<div class="img_list">	     		 		
		     		 	<ul class="con_img">
		     		 		<li>
		     		 			<div class="con_box">
		     		 				<img src="http://www.doudoufei.top/shops/admin/images/icon01.png" alt="" />
		     		 				<h2>今日销售总额</h2>
		     		 				<p>0.00</p>
		     		 			</div>
		     		 		</li>
		     		 		<li>
		     		 			<div class="con_box">
		     		 				<img src="http://www.doudoufei.top/shops/admin/images/icon02.png" alt="" />
		     		 				<h2>今日销售总额</h2>
		     		 				<p>0</p>
		     		 			</div>
		     		 		</li>
		     		 		<li>
		     		 			<div class="con_box">
		     		 				<img src="http://www.doudoufei.top/shops/admin/images/icon03.png" alt="" />
		     		 				<h2>今日销售总额</h2>
		     		 				<p>0</p>
		     		 			</div>
		     		 		</li>
		     		 		<li>
		     		 			<div class="con_box">
		     		 				<img src="http://www.doudoufei.top/shops/admin/images/icon04.png" alt="" />
		     		 				<h2>今日销售总额</h2>
		     		 				<p>83</p>
		     		 			</div>
		     		 		</li>
		     		 	</ul>
		     		 	<div class="detail_list">
		     		 		<ul class="detail_list_ul">
		     		 			<li class="detail_list_1"></li>
		     		 			<li class="detail_list_1"></li>
		     		 			<li class="detail_list_1"></li>
		     		 			<li class="detail_list_1"></li>
		     		 			<li class="detail_list_1"></li>
		     		 			<li class="detail_list_1"></li>
		     		 			<li class="detail_list_1"></li>
		     		 		</ul>
		     		 	</div>
	     		 	</div>
	     		 </div>
	     	</div>
	     </div>    
	</body>
</html>
