<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
			
		</script>
		<style type="text/css">
			#box{
				width:400px;
				height:280px;
				border:1px solid #656565;
				margin:100px auto;
				background: #fcfcff;
			}
			#box div{
				margin-left:50px;
				margin-top:50px;
			}
			#username{
				width:200px;
				height:25px ;
			}
			#pwd{ 
			    width:200px;
				height:25px ;	
			}
			#btn{
				margin-left:155px;
				width:100px;
				height:30px;
				margin-top:40px;
				background: #ffc;
			}
		</style>
	</head>
	<body>
		<div id="box">
			<div>
				<laber>用户名：</laber><input type=""  id="username" value="" />
			</div>
			<div>
				<laber>密 &nbsp; 码：</laber><input type="password" id="pwd"/>
			</div>
			<button id="btn" onclick="login()">登录</button>
		</div>		
	</body>
</html>
<script type="text/javascript">
	function login(){
		$.ajax({
			url:"/api/login",
			type:"post",
			data:{
				username : $("#username").val(),
				psw : $("#pwd").val()
			},
			success : function(res){
				console.log(res);
				if( res.status == 1 ){					
				   location.href ="/index2";					
				}else{
					console.log(res.message);
				}
			}
			
		})
	}
</script>