@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
ul,li,ol{list-style:none;}
a{text-decoration:none;color:#353334;}
img{border:0;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
i,em{font-style:normal;}
body{font-size:12px;font-family:"微软雅黑";}
.left{float:left;}
.right{float:right;}
.clear{clear:both;height:0;overflow:hidden;}
html,body{
	height: 100%;
}
body{
	/*overflow: hidden;*/
}
/*--------header----------*/
#header{
	width:100%;
	height: 118px;
	position: absolute;
	top:0;
	left:0;
}
/*--------top----------*/
#top{
	width:100%;
	height:75px;
    background:#303030;
    position: absolute;
    top:0;
    left:0
}
.logo{
	float:left;
	margin: 20px 0 0 30px;
}
.top_list_a{
	float:left;
    height: 67px;
    text-align: center;
    margin-left:150px;
}
.top_list_a a{
	float:left;
	color:#fff;
	display: block;
	width: 82px;
	height:67px;
	padding-top:8px;
	text-align: center;
}
.top_list_a a:nth-child(1){
	width: 102px;
}
.top_list_a a:nth-child(1) span{
	color: #ff0;
	font-weight: 900;
}
.top_list_a a:hover{
	background: #404040;
}
.top_list_a a img{
	display: block;
	margin: auto;
	height: 35px;
}
.top_list_a a span{
	margin-top:6px;
	display: block;
	font-size: 13px;
}
/*--------nav----------*/
#nav{
	background: #575757;
    height: 41px;
    width: 100%;
    border-bottom: 1px solid #212121;
    position: absolute;
    top:75px;
    left:0;
}
.nav_ul{
	margin-left:30px;
}
.nav_ul li{
   float: left;
   height: 41px;
   line-height: 41px;
   position: relative;	
}
.nav_ul li:hover{
	background: #192E32;
}
.nav_ul li .border_L{
	height: 13px;
    width: 0px;
    border-right: 1px solid #656565;
    margin-top: 15px;
    _margin-top: 0px;
    border-left: 1px solid #303030;
    display: inline-block;
}
.nav_ul li a{
	float: LEFT;
    color: #FFF;
    padding: 0px 12px;
    display: block;
}
.nav_ul li a img{
	border: none;
    width: 17px;
    height: 18px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 10px;
}
.num{
	width: 32px;
    height: 16px;
    background: url(http://www.doudoufei.top/shops/admin/images/index-11_22.png) no-repeat scroll;
    display: inline-block;
    line-height: 16px;
    vertical-align: middle;
    text-align: center;
    margin-left:10px;
}
/*-------main-----*/
#main{
	width:100%;
	position: absolute;
	top:117px;
	bottom:0;
	overflow: hidden;
}
/*-------main_left-----*/
#main_left{
	height:100%;
	float:left;
	overflow-y:scroll ;
}
.main_left_nav{
	padding-left: 10px;
    height: 34px;
    padding-top: 0px;
    background: #303030;
}
.p_span{
	line-height: 33px;
    font-weight: bold;
    padding: 4px 15px 4px 18px;
    cursor: hand;
    cursor: pointer;
    font-size: 14px;
    font-family: "微软雅黑";
    color: #fff;
}
.list{
	padding: 0;
    margin: 0;
    list-style-type: none;
    color: #335B64;
    width:180px;
}
.list li{
	color:#FFF;
	display: block;
    border-top: #7f7f7f 1px solid;
    width:100%;
    color: #FFF;
    line-height: 42px;
    text-align: left;
	 cursor: hand;
    cursor: pointer;
	font-size:14px; 
	text-indent: 40px;
}

.icon_1{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_1.png) 9px 0 no-repeat ;}
.icon_2{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_2.png) 9px 0 no-repeat ;}
.icon_3{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_3.png) 9px 0 no-repeat ;}
.icon_4{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_4.png) 9px 0 no-repeat ;}
.icon_5{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_5.png) 9px 0 no-repeat ;}
.icon_6{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_6.png) 9px 0 no-repeat ;}
.icon_7{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_7.png) 9px 0 no-repeat ;}
.icon_8{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_8.png) 9px 0 no-repeat ;}
.icon_9{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_9.png) 9px 0 no-repeat ;}
.icon_10{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_10.png) 9px 0 no-repeat ;}
.icon_11{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_11.png) 9px 0 no-repeat ;}
.icon_12{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_12.png) 9px 0 no-repeat ;}
.icon_13{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_13.png) 9px 0 no-repeat ;}
.icon_14{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_14.png) 9px 0 no-repeat ;}
.icon_15{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_15.png) 9px 0 no-repeat ;}
.icon_16{background:#575757 url(http://www.doudoufei.top/shops/admin/images/menu_16.png) 9px 0 no-repeat ;}

.ul_none{
	display:none;
	background-color: #797979;
    text-decoration: none;
    color: #fff;
     width:100%;
}
.ul_none .ul_none_1{
	text-indent:0 ;
	padding: 0;
    border-top:0;
}
.ul_none .ul_none_1 a{
	font-size:12px;
	border: none;
    height: 30px;
    line-height: 30px;
    display: block;
    color:#FFF;
	 cursor: hand;
    cursor: pointer;
    text-indent: 40px;	
	
}
/*-----------main_right-----------*/
