@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
ul,li,ol{list-style:none;}
a{text-decoration:none;color:#353334;}
img{border:0;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:normal;}
i,em{font-style:normal;}
body{font-size:12px;font-family:"微软雅黑";}
.left{float:left;}
.right{float:right;}
.clear{clear:both;height:0;overflow:hidden;}



.main_right{	
	background: url(http://www.doudoufei.top/shops/admin/images/body_bj.jpg);
    height:100%; 
    width:100%;
    min-width: 773px;
    overflow-y:scroll;  
}
.con{
	padding:10px;
}
.main_right h1{
	border-bottom: 1px solid #ccc;
    color: #333;
    font-weight: normal;
    padding: 7px 10px;
    overflow: hidden;
}
.active_span1{
	float: left;
	color: #4c4c4c;
    font-size: 18px;
    font-weight: normal;
}
.active_span2{
	float: left;
	color: #4c4c4c;
    font-size: 18px;
    font-weight: normal;
}
.active_span3{
	float: left;
	display: inline-block;
    _display: inline;
    vertical-align: middle;
    margin-left: 10px;
}
.active_span4{
	float: right;
    height: 26px;
    line-height: 26px;
    padding: 0 10px 0 23px;
    background: #c43926 url(http://www.doudoufei.top/shops/admin/images/icon_add02.gif) no-repeat 6px center;
    border-radius: 3px;
    font-size: 13px;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
}
.active_span4 a{
    color:#fff;
	
}
form{
	padding-left:10px;
    border: 1px solid #ddd;
    padding: 5px;
    color: #808080;
    margin: 10px 0 10px 0;
}
.txt{
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
.button{
	padding: 5px 15px 5px;
    margin: 2px 2px;
    border: none;
    background: #ff3f3f;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
}
.list_div table{
	/*margin:10px;*/
	width: 100%; 
	display: table;
    border-collapse:collapse;
    border:grey;
}
.list_div{
	width: 100%; 
}

.list_div th{
	line-height: 39px;
    background: #f3f3f3 url(http://www.doudoufei.top/shops/admin/images/th_bg.gif) repeat-x;
    white-space: nowrap;
}
.list_div th a{
	color: #353334;
	display: inline-block;
}
.list_div th:hover{
	text-decoration: underline;
}
.list_div td{
	background: #fff;
    padding: 10px;
    line-height: 39px;
}
#footer{
	background: #f3f3f3 url(../images/th_bg.gif) repeat-x;
    border: 1px solid #ddd;
    padding: 15px;
    color: #9CACAF;
    margin: 10px 0;
    text-align: center;
}